<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="/static/css/pico.min.css">
    <title>VM Clipboard Share</title>
  </head>
  <body>
    <main class="container">
        <article>
            <textarea
            name="clipboard"
            id="clipboard"
            placeholder="Paste text here"
            aria-label="Paste text here"
            rows="10"
            cols="50"
            ></textarea>
            <button id="copy" class="outline">Copy</button>
            <button id="clear" class="outline">Clear</button>
        </article>
    </main>
    <script src="/static/js/script.js"></script>
  </body>
</html>